*~
*.o
build/

#Autotool
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
config.h
config.h.in
configure
Makefile
Makefile.in
stamp-h1
install-sh
libtool
ltmain.sh
depcomp
test-driver
m4/
missing
*.la
*.lo
.deps/
.libs/
.dirstamp

#kmod
*.cmd
*.mod.c
*.ko
Module.symvers
.tmp_versions/
!firmware/kmod/RT5350/modules/Makefile.in

#Built
*_test
*_demo
*_handler
*_socket
*listen
*.gz

#ggtags
GPATH
GRTAGS
GTAGS

#Others
build-android*.sh
packages/*.cmake
compile
/.project
*.cproject
/.settings
nbproject/

